<div class="container">
  <div class="row mt-2">
    <div class="card" style="width: 18rem;" *ngFor="let prod of products">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{prod.name}}</h5>
        <p class="card-text">{{prod.description}}</p>
        <p class="card-text text-danger">{{prod.price}}</p>
        <a  class="btn btn-primary" [routerLink]="['/products',prod.id]">More datails</a>
      </div>
    </div>
  </div>
</div>
