<form>
  <div class="form-group">
    <label for="productCategory">Category</label>
    <input [(ngModel)]="productCategory" name="productCategory" type="text" class="form-control" id="productCategory">
  </div>
  <div class="form-group">
    <label for="productName">Name</label>
    <input [(ngModel)]="productName" name="productName" type="text" class="form-control" id="productName">
  </div>
  <div class="form-group">
    <label for="productDescription">Description</label>
    <input [(ngModel)]="productDescription" name="productDescription" type="text" class="form-control" id="productDescription">
  </div>
  <div class="form-group">
    <label for="productPrice">Price</label>
    <input [(ngModel)]="productPrice" name="productPrice" type="number" class="form-control" id="productPrice">
  </div>
  <button type="button" class="btn btn-success" (click)="addProduct()">Add</button>
</form>
<br>


<input type="text" [(ngModel)]="searchName" name="searchName">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of adminProducts | search:searchName; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{prod.category}}</td>
      <td>{{prod.name}}</td>
      <td>{{prod.description}}</td>
      <td>{{prod.price}}</td>
      <td>{{prod.date}}</td>
      <td>
        <button type="button" class="btn btn-warning" (click)="editProduct(prod)">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteProduct(prod)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
